.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}


.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(0%, -100%);
}

.square0 {
  background-color: rgba(130, 130, 130, 0.999);
}

.square1 {
  background-color: black;
}


.circleP1 {
  background-color: blue;
}

.circleP2 {
  background-color: green;
}

.square0,
.square1,
.circle {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: none;
}